[submodule "Vundle.vim"]
	path = ./vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "auto-pairs"]
	path = ./vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vim-multiple-cursors"]
	path = ./vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "vim-autoformat"]
	path = ./vim/bundle/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
[submodule "nerdtree"]
	path = ./vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "tagbar"]
	path = ./vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim-dirdiff"]
	path = ./vim/bundle/vim-dirdiff
	url = https://github.com/will133/vim-dirdiff.git
[submodule "vim-transpose"]
	path = ./vim/bundle/vim-transpose
	url = https://github.com/salsifis/vim-transpose.git
[submodule "vim-easy-align"]
	path = ./vim/bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "vim-airline"]
	path = ./vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim-cpp-enhanced-highlight"]
	path = ./vim/bundle/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "hlsl.vim"]
	path = ./vim/bundle/hlsl.vim
	url = https://github.com/beyondmarc/hlsl.vim.git
[submodule "vim-glsl"]
	path = ./vim/bundle/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl.git
[submodule "vim-javascript"]
	path = ./vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim-spirv"]
	path = ./vim/bundle/vim-spirv
	url = https://github.com/kbenzie/vim-spirv.git
[submodule "vim-header"]
	path = ./vim/bundle/vim-header
	url = https://github.com/alpertuna/vim-header.git
